.image-container {
  display: flex;
  margin-top: 20px;
}

.sutera_div {
  width: 60%;
}
.sutera_data {
  display: flex;
}
.sutera_image {
  margin-left: 20px;
  max-width: 267px;
  max-height: 63px;
}

.ssl_image {
  margin-right: 30px;
  max-height: 56px;
  max-width: 150px;
}
.flag_image {
  margin-right: 30px;
  max-height: 48px;
  max-width: 63px;
}
.contact_image {
  margin-right: 30px;
  max-height: 56px;
  max-width: 214px;
}

.square {
  border: 2px dashed rgb(50, 50, 50);
}



.container_carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel {
  position: absolute;
  display: flex;
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel_image {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media screen and (max-width: 768px) {
  .carousel_image {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .carousel_image {
    width: 100%;
  }

  .carousel {
    width: 800%;
  }

  .prev, .next {
    font-size: 2rem;
  }
}
.thumbnails img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.info_pillow_container {
  text-align: center;
}
.info_pillow_h2 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
li svg {
  fill: #1ab22c;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
li::marker {
  content: none;
}


.disccount_radio label {
  display: block;
  margin-bottom: 10px;
}